
<h3>{{profile.name}}'s profile</h3>

<img src="/static/img/profile_{{profile.id}}.jpg" alt="">

<p>Hi, I'm {{capitalize profile.name}}.</p>
<p>I was born in {{profile.birthyear}}, so that I'm now {{userAge profile.birthyear}} years old.</p>

{{#if profile.career}}
    <p>I work with {{capitalize profile.career}}, that's a cool carreer!</p>
{{else}}
    <p>I haven't started a career yet --- and that's cool.</p>
{{/if}}

<p>Now, let's read my bio: {{{profile.bio}}}</p>
<p>See you later!</p>